@mixin submit( $background-color: $my-primary, $line-height: $line-height, $color: $white) {
    line-height: $line-height;
    color: $white;
    background-color: $background-color;
}

@mixin button {
    margin-right: 1rem;
    padding: 5px 20px 5px 20px;
    line-height: 1.7;
    letter-spacing: 1.3px;
    border-radius: 5px;
    font-size: 14px;
}