@mixin input($icon:false) {
    line-height: $line-height !important;
    background-color: #EBEBEB;
    color: #000;
    font-size: .75rem;
    padding: .75rem;
    
    @if $icon {
        padding-left: $icon;
    }
}