// navigation
@import 'pages/nav';

$max-width: 1166px;
$secondary-width: 1050px;
$margin: auto;

.educ-bit {
    overflow: hidden;
    max-width: 100vw;

    // navigation
    nav {
        background-image: radial-gradient(circle at 0 2%, #283e63, #172337 99%);
        height: 50vh;
        align-items: start;
        padding-top: 1.5rem;
        z-index: 5 !important;

        .navbar-collapse {

            //justify-content: center;
            ul {
                width: 100%;
                display: inline-block;
                text-align: center;

                li {
                    a {
                        font-size: .9rem;
                        opacity: .6;

                        &:hover {
                            opacity: 1;
                            font-weight: bolder;
                            color: #ffffff;
                            transition: all 0.3s ease-in-out;
                        }
                    }
                }
            }
        }
    }

    // section header class
    .section-header {
        text-align: center;
        font-weight: bold;
        letter-spacing: .5px;
        font-size: 2.2rem;
        margin-top: 5rem;
    }

    // section paragraph
    .section-paragraph {
        font-size: .9rem;
        text-align: center;
        margin: auto;
        color: #3f3e3e;
        letter-spacing: .9px;
        line-height: 2rem;
        margin-top: 1rem;
        font-weight: bold;
    }

    // span for give color
    .span {
        font-weight: bold;
        color: #645beb;
    }

    // course body
    .course {
        //todo
        background: linear-gradient(270deg, #f44881, #ec454f);
        border-radius: 10px;
        min-height: 500px;
        margin-top: 1rem;
        padding: 1.5rem;

        img {
            border-radius: 0.934rem;
            max-width: 120px;
            max-height: 120px;
        }

        .content {
            margin-top: 0.85rem;
            padding: 0 0.6rem;

            small {
                display: block;
                color: hsla(0, 0%, 100%, .95);
                font-family: 600;
                letter-spacing: -.02rem;
                font-size: .8rem;
            }

            a {
                text-decoration: none;
                color: #fff;
                font-size: .95rem;

                &:hover {
                    text-decoration: underline;
                    font-weight: bold;
                }
            }
        }


        .content-area {
            padding: 0rem .85rem;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h3 {
                margin-bottom: .8rem;

                a {
                    color: #fff;
                    text-decoration: none;
                    font-weight: bold;
                    letter-spacing: .5px;
                    font-size: 1.45rem;

                    &:hover {
                        text-decoration: underline !important;
                    }

                }
            }

            p {
                color: #fff;
                opacity: .9;
                margin-top: 1.5rem;
                font-weight: 400;
                font-size: .85rem;

            }

            .tech {
                text-decoration: none;
                color: #fff;
                font-size: .685rem;
                font-weight: bold;
                letter-spacing: .5px;

                &:hover {
                    text-decoration: underline;
                }
            }

            .bottom-information {
                overflow: hidden;
                margin-top: 1rem;

                .buttons {
                    a {
                        @include button();
                        float: right;
                        font-weight: bold;
                    }

                    a:nth-child(1) {
                        background-color: #ffffff;
                        color: rgb(0, 0, 0);
                        border-color: #645BEB;
                        padding-left: 2.1rem;
                        padding-right: 2.1rem;
                        border-radius: 17px;
                        font-size: .8rem;
                        margin: 0;

                        &:hover {
                            background-color: #645BEB;
                            color: #fff;
                            border-color: #ffffff;

                            transition: all 0.3s ease-in-out;
                        }
                    }

                    a:nth-child(2) {
                        background-color: #645BEB;
                        color: rgb(255, 255, 255);
                        border: 1px solid;
                        border-color: rgba(50, 138, 241, .1);
                        padding-left: 1.5rem;
                        padding-right: 1.5rem;
                        border-radius: 17px;
                        font-size: .8rem;
                        margin: 1rem 0;

                        &:hover {
                            background-color: #ffffff;
                            color: #645BEB;
                            border-color: #645BEB;

                            transition: all 0.3s ease-in-out;
                        }


                    }
                }

                hr {
                    color: #fff;
                    margin: 1.5rem 0 1rem 0;
                    width: 95%;
                }


                .cat {
                    @include button();
                    padding: 5px 20px 5px 20px;
                    letter-spacing: 1.3px;
                    border-radius: 5px;
                    font-size: 14px;
                    float: right;
                    margin-right: 2.75rem;
                    background-color: #ffffff;
                    color: #fff;
                    border-radius: 17px;
                    font-size: .55rem;
                    background-color: inherit;
                    border-color: #ffffff;
                    font-weight: bold;
                    margin: 0;

                    &:hover {
                        background-color: #645BEB;
                        color: #fff;

                        transition: all 0.3s ease-in-out;
                    }
                }
            }
        }
    }

    // introduction section
    .introduction {

        position: relative;
        top: -25.5rem;
        right: 0;
        left: 0;
        z-index: 99999 !important;
        max-width: $max-width;
        margin: auto;
        overflow: hidden;

        .section-heading {
            @extend .section-header;
            color: #fff !important;
            font-weight: bold;
        }

        .section-paragraph {
            @extend .section-paragraph;
            color: #fff !important;
            margin-bottom: 1.5rem;
        }

        .introduction-course {
            background: linear-gradient(270deg, #21c8f6, #637bff);

            border-radius: 10px;
            margin: auto;

            .wrapper {
                display: flex;
                width: 100%;
                height: 100%;

                aside {
                    background-color: rgba(0, 0, 0, 0.05);
                    border-radius: 0.25rem !important;
                    padding: 1.3rem .85rem;

                    .image-area {
                        max-width: 160px;
                        max-height: 160px;

                        img {
                            width: 100%;
                            max-height: 160px;
                            border-radius: 0.25rem !important;
                        }
                    }

                    .content {
                        margin-top: 0.85rem;
                        padding: 0 0.6rem;

                        small {
                            display: block;
                            color: hsla(0, 0%, 100%, .95);
                            font-family: 600;
                            letter-spacing: -.02rem;
                            font-size: .8rem;
                        }

                        a {
                            text-decoration: none;
                            color: #fff;
                            font-size: .95rem;

                            &:hover {
                                text-decoration: underline;
                                font-weight: bold;
                            }
                        }
                    }

                }

                .content-area {
                    padding: 1.3rem .85rem;
                    overflow: hidden;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    h3 {
                        margin-bottom: 2.5rem;

                        a {
                            color: #fff;
                            text-decoration: none;
                            font-weight: bold;
                            letter-spacing: .5px;
                            font-size: 1.8rem;

                            &:hover {
                                text-decoration: underline !important;
                            }

                        }
                    }

                    p {
                        color: #fff;
                        opacity: .9;

                        font-weight: 400;
                        font-size: .95rem;

                    }

                    .bottom-information {
                        overflow: hidden;
                        margin-top: 1rem;

                        .buttons {
                            a {
                                @include button();
                                font-weight: bold;
                            }

                            a:nth-child(1) {
                                background-color: #ffffff;
                                color: rgb(0, 0, 0);
                                border-color: #645BEB;
                                padding-left: 1.5rem;
                                padding-right: 1.5rem;
                                border-radius: 17px;
                                font-size: .8rem;

                                &:hover {
                                    background-color: #645BEB;
                                    color: #fff;
                                    border-color: #ffffff;

                                    transition: all 0.3s ease-in-out;
                                }
                            }

                            a:nth-child(2) {
                                background-color: #645BEB;
                                color: rgb(255, 255, 255);
                                border: 1px solid;
                                border-color: rgba(50, 138, 241, .1);
                                padding-left: 1.5rem;
                                padding-right: 1.5rem;
                                border-radius: 17px;
                                font-size: .8rem;

                                &:hover {
                                    background-color: #ffffff;
                                    color: #645BEB;
                                    border-color: #645BEB;

                                    transition: all 0.3s ease-in-out;
                                }


                            }
                        }

                        hr {
                            color: #fff;
                            margin: 1.5rem 0 1rem 0;
                            width: 95%;
                        }

                        .tech {
                            text-decoration: none;
                            color: #fff;
                            font-size: .685rem;
                            font-weight: bold;
                            letter-spacing: .5px;

                            &:hover {
                                text-decoration: underline;
                            }
                        }

                        .cat {
                            @include button();
                            padding: 5px 20px 5px 20px;
                            letter-spacing: 1.3px;
                            border-radius: 5px;
                            font-size: 14px;
                            float: right;
                            margin-right: 2.75rem;
                            background-color: #ffffff;
                            color: #fff;
                            border-radius: 17px;
                            font-size: .55rem;
                            background-color: inherit;
                            border-color: #ffffff;
                            font-weight: bold;

                            &:hover {
                                background-color: #645BEB;
                                color: #fff;

                                transition: all 0.3s ease-in-out;
                            }
                        }
                    }
                }
            }
        }
    }

    // recently updated bits
    .recently-updated {
        margin-top: -25rem !important;
        max-width: $secondary-width;
        margin: $margin;
        overflow: hidden;

        .section-heading {
            @extend .section-header;
        }

        .section-paragraph {
            @extend .section-paragraph;
            margin-bottom: .8rem;
        }

        .recently-course {
            @extend .course;
        }

        .col:nth-child(3) {
            .recently-course {
                background: linear-gradient(270deg, #21c8f6, #637bff);
            }
        }

        .col:nth-child(4) {
            .recently-course {
                background: linear-gradient(270deg, #21c8f6, #637bff);
            }
        }
    }

    // popular bit
    .popular-bit {
        @extend .recently-updated;
        margin-top: 1.5rem !important;
    }

    // bit by bit
    .bit-by-bit {
        max-width: $secondary-width;
        margin: $margin;
        overflow: hidden;

        .section-heading {
            @extend .section-header;
        }

        .section-paragraph {
            @extend .section-paragraph;
            margin-bottom: .8rem;
        }

        .wrapper {
            display: grid;
            width: 100%;
            row-gap: 1rem;

            .item {
                max-height: 150px;
                background-color: #fff;
                border-radius: 0.934rem;
                border-width: 1px;
                transition: background-color 400ms linear,
                    color 400ms linear;
                border: 1px solid;
                border-color: #ddd;
                position: relative;

                .content-item {
                    padding: 1.25rem 1rem;
                    display: flex;

                    .image-area {
                        max-width: 90px;
                        max-height: 90px;


                        img {
                            max-width: 100%;
                            max-height: 90px;
                            border: 3px solid;
                            border-color: #645beb;
                            border-radius: 0.934rem;
                        }
                    }


                }

                .information {
                    width: 50%;
                    margin-left: 1rem;

                    a {
                        text-decoration: none;
                        color: #000;
                        font-weight: bold;
                        font-size: .95rem;
                        line-height: 1.25rem;
                        letter-spacing: .85px;
                        margin-bottom: .5rem;


                        &:hover {
                            transition: all 0.1s ease-in-out;
                            color: #645BEB;
                            text-decoration: underline;
                        }
                    }

                    p {
                        font-size: .85rem;
                        letter-spacing: .5px;
                        font-weight: 500;
                        margin: .5rem 0 0 0;
                    }
                }

                .teacher {
                    margin-left: 1.5rem;
                    flex: none;

                    .upper {
                        display: flex;
                        flex-direction: column;

                        small {
                            color: #666;
                            font-weight: bold;
                            font-size: .75rem;
                            line-height: 1.25rem;
                            letter-spacing: .85px;

                        }

                        a {
                            text-decoration: none;
                            color: #000000;
                            font-size: 1.025rem;
                            letter-spacing: 1px;

                            &:hover {
                                transition: all 0.1s ease-in-out;
                                color: #645BEB;
                                text-decoration: underline;
                                font-weight: bold;
                            }
                        }


                    }

                    .lower {
                        display: flex;
                        flex-direction: column;
                        margin-top: 0.3rem;

                        small {
                            color: #666;
                            font-weight: bold;
                            font-size: .75rem;
                            line-height: 1.25rem;
                            letter-spacing: .85px;
                        }

                        span {
                            color: #000000;
                            font-size: 1.025rem;
                            letter-spacing: 1px;
                        }
                    }
                }

                .buttons {
                    position: absolute;
                    right: 0;
                    top: 1.25rem;
                    display: flex;
                    flex-direction: column;

                    a {
                        @include button();
                        font-weight: bold;
                    }

                    a:nth-child(1) {
                        background-color: #ffffff;
                        color: rgb(0, 0, 0);
                        border-color: #645BEB;
                        padding-left: 1.5rem;
                        padding-right: 1.5rem;
                        border-radius: 17px;
                        font-size: .8rem;
                        margin-bottom: .85rem;

                        &:hover {
                            background-color: #645BEB;
                            color: #fff;
                            border-color: #ffffff;

                            transition: all 0.3s ease-in-out;
                        }
                    }

                    a:nth-child(2) {
                        background-color: #645BEB;
                        color: rgb(255, 255, 255);
                        border: 1px solid;
                        border-color: rgba(50, 138, 241, .1);
                        padding-left: 1.5rem;
                        padding-right: 1.5rem;
                        border-radius: 17px;
                        font-size: .8rem;

                        &:hover {
                            background-color: #ffffff;
                            color: #645BEB;
                            border-color: #645BEB;

                            transition: all 0.3s ease-in-out;
                        }


                    }
                }

                &:hover {
                    background-color: #ebedf1;
                }
            }
        }
    }

    // show more button
    .show-more{
        text-align: center;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
        a {
            @include button();
            font-weight: bold;
            background-color: #ffffff;
            color: rgb(0, 0, 0);
            border-color: #645BEB;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            border-radius: 17px;
            margin-bottom: .85rem;

            &:hover {
                background-color: #645BEB;
                color: #fff;
                border-color: #ffffff;

                transition: all 0.3s ease-in-out;
            }
        }
        
    }
    // footer
    @import 'pages/footer';
    .footer{
        margin-top: 0 !important;
    }
}