.forget {
    height: 100vh;
    display: flex;
    align-items: center;

    .form-area {
        padding: 1.7rem;

        h2 {
            text-align: center;
        }

        form {

            input[type="email"],
            input[type="password"],
            input[type="text"] {
                @include input($icon:2.5rem);
            }

            button[type="submit"] {
                @include submit();
                font-size: 1.05rem;
                border-color: $my-primary;
            }

            label {
                font-size: $font-vs;
                color: #272727;
                font-weight: 400;
            }
        }
    }
}