nav {
    background-color: inherit !important;
    z-index: 100;

    // Extra small devices (phones, 768px and down)
    @media only screen and (max-width: 768px) {
        margin-bottom: 2rem;
    }

    .navbar-toggler {
        color: rgba(0, 0, 0, 0.55);
        border-color: rgba(0, 0, 0, 0.1);

        .navbar-toggler-icon{
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280,0,0,0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
        }
    }

    .navbar-collapse {
        @media only screen and (max-width: 768px) {
            margin-top: 1rem;
            background: rgb(28, 39, 55);
            padding: 1.3rem;
        }
    }

    .brand {
        margin-right: 1.5rem;

        h2 {
            a {
                color: #fff;

                span {
                    padding-left: 3px;
                }

                &:hover {
                    color: #fff !important
                }
            }

        }
    }

    .navbar-light {
        .navbar-brand {
            &:hover {
                color: #fff !important
            }
        }
    }

    .navbar-nav {
        align-items: baseline;

        // phone screen 
        @media only screen and (max-width: 768px) {
            display: flex;
            align-items: stretch;
        }

        .nav-item {
            display: inline-block;

            // phone screen 
            @media only screen and (max-width: 768px) {
                padding-right: 1rem;
                margin-top: 15px;
            }

            a {
                color: #fff;
                font-size: .7rem;
                letter-spacing: 1.4px;

                &:hover {
                    color: #645BEB;
                    transition: all 0.3s ease-in-out;
                }
            }
        }
    }

    form {
        input[type="search"] {
            padding-left: 2.3rem
        }

        .input-icon {
            top: 8px;
            left: 9px;
        }
    }

    .buttons {

        //phone screen
        @media only screen and (max-width: 768px) {
            margin-top: 1rem;
            float: none !important;
        }

        a {
            @include button();
        }

        a:nth-child(1) {
            background-color: #645BEB;
            color: #fff;
            border-color: #645BEB;

            &:hover {
                background-color: #ffffff;
                color: rgb(0, 0, 0);
                border-color: #645BEB;
                transition: all 0.3s ease-in-out;
            }
        }

        a:nth-child(2) {
            background-color: #ffffff;
            color: rgb(0, 0, 0);
            border-color: #645BEB;

            &:hover {
                background-color: #645BEB;
                color: #fff;
                border-color: #645BEB;
                transition: all 0.3s ease-in-out;
            }
        }
    }
}