.register {
    height: 100vh;
    display: flex;
    align-items: center;

    .form-area {
        padding: 1.7rem;

        h2 {
            text-align: center;
        }

        form {

            input[type="email"],
            input[type="password"],
            input[type="text"]
            {
                @include input($icon:2.5rem);
            }

            button[type="submit"] {
                @include submit();
                font-size: 1.05rem;
                border-color: $my-primary;
            }

            .form-check {
                input {
                    border-radius: 0;
                    float: none;
                }

                label,
                a {
                    font-size: $font-vs;
                    color: #272727;
                    font-weight: 200;
                    font-weight: 400;
                }

                a {
                    float: right;
                    color: $my-primary
                }
            }
        }

        .gap-2 {
            a:nth-child(1) {
                @include submit($background-color: $facebook-background);
                font-size: 1.05rem;
                border-color: $facebook-background;
            }

            a:nth-child(2) {
                @include submit($background-color: $google-background);
                font-size: 1.05rem;
                border-color: $google-background;
            }
        }
    }
}