// navigation
@import 'pages/nav';

$max-width: 1166px;
$secondary-width: 1050px;
$margin: auto;

.blog-style {
    background-color: red;
    height: 200px;
}

.show-blog {
    overflow: hidden;
    max-width: 100vw;

    // navigation
    nav {
        background-image: radial-gradient(circle at 0 2%, #283e63, #172337 99%);

        .navbar-collapse {

            //justify-content: center;
            ul {
                width: 100%;
                display: inline-block;
                text-align: center;

                li {
                    a {
                        font-size: .9rem;
                        opacity: .6;

                        &:hover {
                            opacity: 1;
                            font-weight: bolder;
                            color: #ffffff;
                            transition: all 0.3s ease-in-out;
                        }
                    }
                }
            }
        }
    }

    // section header class
    .section-header {
        text-align: center;
        font-weight: bold;
        letter-spacing: .5px;
        font-size: 2.2rem;
        margin: 3rem 0;
    }

    // section paragraph
    .section-paragraph {
        font-size: .9rem;
        text-align: center;
        margin: auto;
        color: #3f3e3e;
        letter-spacing: .9px;
        line-height: 2rem;
        margin-top: 1rem;
        font-weight: bold;
    }

    // span for give color
    .span {
        font-weight: bold;
        color: #645beb;
    }

    // show blog
    .show {
        max-width: $max-width;
        margin: $margin;
        margin-top: 7.5rem;
        margin-bottom: 3rem;

        .top {
            .publish-date {
                color: #979494;
                font-size: .8rem;
            }

            .left {
                margin-bottom: .5rem;

                .info {
                    margin-left: .5rem;

                    h6 {
                        margin-bottom: 0;
                        font-size: .85rem;
                    }

                    .btn-person {
                        text-decoration: none;
                        color: #000;
                        font-weight: bold;
                        font-size: .9rem;
                        transition: all 0.1s ease-in-out;

                        &:hover {
                            text-decoration: underline;
                            color: #645beb;
                        }
                    }
                }
            }
        }

        .content {

            .action {
                margin-bottom: 2rem;

                .back {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    a {
                        text-decoration: none;
                        color: #000;
                        font-size: 1.1rem;
                        letter-spacing: 1px;
                        transition: all 0.3s ease-in-out;

                        &:hover {
                            color: #645beb;
                        }
                    }

                    .cate {
                        @include button();

                        border: 1px solid;
                        border-color: #645beb;
                        color: #645beb;
                        font-size: .65rem;
                        transition: all 0.3s ease-in-out;
                        border-radius: 20px !important;
                        margin-right: 0;

                        &:hover {
                            background: #645beb;
                            color: #fff;

                        }
                    }
                }
            }

            .title {
                letter-spacing: 1px;
                font-weight: bold;
                font-size: 1.85rem;
                margin-bottom: 2rem;
            }
        }
    }

    // comment area
    .comment-form {
        max-width: $max-width;
        margin: $margin;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
       
        @include comment-form();
    }


    // comments
    .comments {
        max-width: $max-width;
        margin: $margin;

        .wrapper {

            .comment {
                @include comment();
            }

            .replay {
                @extend .comment;
                background-color: #f2faff;
                margin-left: 3rem;
                margin-top: -0.3rem;

            }
        }
    }

    .footer {
        margin-top: 3rem !important;
    }
}

// footer
@import 'pages/footer';

