// make some change in document
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $body-background;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    font-family: 'Raleway', sans-serif;
}

.keep-scrolling {

    overflow-y: scroll;
    /* Add the ability to scroll y axis*/

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }
}

// my class
.brand {
    color: #000 !important;
    font-family: system-ui;

    a {
        color: #000;
        font-weight: bold;
    }

    span {
        font-weight: bolder;
        color: #645beb;
        font-size: 1.5rem;
    }
}

.field {
    position: relative
}

.input-icon {
    position: absolute;
    top: 12px;
    left: 14px;
    color: $my-primary
}

.owl-dots {
    display: none !important;
}

.my-active {
    color: #ffffff !important;
    opacity: 1 !important;
    font-weight: bold !important;
}

.episode-active {
    background: #0f1928 !important;
    border: 1px solid !important;
    border-color: #283e62 !important;

    .episode-number {
        background-color: #086fe4 !important;

        .number {
            color: #ffffff !important;
        }
    }

    .episode-information {
        h4 {
            color: #328Af1 !important;
        }

    }
}